{{ include('IsiPopSiteBundle:layouts:layout_header.html.twig') }}
  <script>
    function setTheme(theme) {
      var today = new Date(), expires = new Date();
      expires.setTime(today.getTime() + (365*24*60*60*1000)); //expires in one year
      document.cookie="theme=" + theme + ";expires=" + expires.toGMTString();
      document.getElementById('themeCss').href=theme;
    }
    $.get("http://api.bootswatch.com/3/", function (data) {
      var themesList = document.getElementById('themes');

      //Define the default theme
      themesList.innerHTML += '<li ' +'onclick="setTheme(\'' + "//netdna.bootstrapcdn.com/bootswatch/latest/darkly/bootstrap.min.css" + '\')"><a href="#">Default (Darkly)</a></li>';
      themesList.innerHTML += '<li class=divider </li>';

      data.themes.forEach(function(value){
        themesList.innerHTML += '<li ' +'onclick="setTheme(\'' + value.cssCdn + '\')">'  +  '<a href="#">' + value.name + '</a></li>';
      });
    });
  </script>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="btn-primary" href="{{ path('isi_pop_site_homepage') }}">Movies</a></li>
            <li><a href="/shows">TV Shows</a></li>
              <li><a  href="{{ path('isi_pop_site_other') }}">French</a></li>
          </ul>
          <form class="navbar-form navbar-right" method="POST" action="{{ path('isi_pop_site_homepage_Form_search') }}" role="search">
            <div class="input-group">
              <input name="query" type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button type="submit" name="toto" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div><!-- /input-group -->
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('isi_pop_site_homepage', {'search': "&sort_by=seeds" , 'page': 1 }) }}">Popular</a></li>
            <li><a href="{{ path('isi_pop_site_homepage', {'search': "&sort_by=rating" , 'page': 1 }) }}">Highest Rated</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Genres <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('isi_pop_site_homepage', {'search': "&sort_by=seeds&genre=Action" , 'page': 1 }) }}">Action</a></li>
                
                 <li><a href="{{ path('isi_pop_site_homepage', {'search': "&sort_by=seeds&genre=adventure" , 'page': 1 }) }}">Adventure</a></li>
                  <li><a href="{{ path('isi_pop_site_homepage', {'search': "&sort_by=seeds&genre=animation" , 'page': 1 }) }}">Animation</a></li>
                   <li><a href="{{ path('isi_pop_site_homepage', {'search': "&sort_by=seeds&genre=comedy" , 'page': 1 }) }}">Comedy</a></li>
                    <li><a href="{{ path('isi_pop_site_homepage', {'search': "&sort_by=seeds&genre=crime" , 'page': 1 }) }}">Crime</a></li>
                     <li><a href="{{ path('isi_pop_site_homepage', {'search': "&sort_by=seeds&genre=documentary" , 'page': 1 }) }}">Documentary</a></li>
                      <li><a href="{{ path('isi_pop_site_homepage', {'search': "&sort_by=seeds&genre=sci-fi" , 'page': 1 }) }}">Sci-fi</a></li>
                       <li><a href="{{ path('isi_pop_site_homepage', {'search': "&sort_by=seeds&genre=horror" , 'page': 1 }) }}">Horror</a></li>
                        <li><a href="{{ path('isi_pop_site_homepage', {'search': "&sort_by=seeds&genre=sport" , 'page': 1 }) }}">Sport</a></li>
                         <li><a href="{{ path('isi_pop_site_homepage', {'search': "&sort_by=seeds&genre=war" , 'page': 1 }) }}">War</a></li>
                          <li><a href="{{ path('isi_pop_site_homepage', {'search': "&sort_by=seeds&genre=western" , 'page': 1 }) }}">Western</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Themes <b class="caret"></b>
              </a>
              <ul id="themes" class="dropdown-menu">
              </ul>
            </li>
            <li><a href="/running">Now Playing</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block container %}Test Application{% endblock %}
      <div class="player">
      </div>
    </div>
  </body>
{{ include('IsiPopSiteBundle:layouts:layout_footer.html.twig') }}
