{{ include('IsiPopSiteBundle:layouts:layout_header.html.twig') }}
  <body>
    <nav class="navbar navbar navbar-static-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('isi_pop_site_homepage') }}">Movies</a></li>
            <li><a class="btn-primary" href="{{ path('isi_pop_site_shows') }}">TV Shows</a></li>
          </ul>
          <form class="navbar-form navbar-right" method="POST" action="{{ path('isi_pop_site_show_Form_search') }}" role="search">
            <div class="input-group">
              <input name="search" type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div><!-- /input-group -->
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/running">Now Playing</a></li>
          </ul>
        </div>
      </div>
    </nav>
      <div class="container">
      {% block container %}Test Application{% endblock %}
      <div class="player">
      </div>
    </div>
        
        <!-- <%- displayFlash(flash); %>
      <%- render(); %>
      <video id="player" class="hidden video-js vjs-default-skin center-block"
        controls preload="auto" width="auto" height="auto" autoplay="true"
        data-setup='{}'>
        <source src="" type='video/mp4'>
      </video>-->
  
  </body>
{{ include('IsiPopSiteBundle:layouts:layout_footer.html.twig') }}
